h1 {
  font-size: 28px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}


.content {
    padding-top:90px;
}

.clear {
	padding: 1px;
	width:1px;
	height:1px;
	clear:both;
	visibility:hidden;
}

.hide {
    display: none;
}

.products .product {
    position:relative;
	padding: 0;
    border-radius: 5px;
	border: 1px solid lightgrey;
    
	min-width:320px;
	min-height:370px;
    
	float:left;
	margin-right: 15px;
	margin-bottom: 15px;
    font-size:18px;
    
    text-align: center;
}

.products .product:hover {
	box-shadow:  4px 4px 6px rgba(0,0,0,0.15); 
    border: 1px solid silver;
}

.products .product .num {
    color: silver;
    font-size:12px;
    margin-top:5px;
}

.products .product .image {
    cursor: pointer;  
}

.products .product .header {
    margin-top:10px;
}

.products .product .add-cart {
    position:absolute;
	bottom:0;
	height:55px;
	width:100%;
}

.products .product .price {
    font-size: 24px;
}

.products .product .price .cbn-title {
    font-size: 18px;
}

.pagination {
    margin-top:20px;
}

.page-product {
    margin-top: 10px;
}

.page-product .page-image {
    width:100%;
}

.page-product .page-image img {
    width:100%;
}

.page-product .page-header h1 {
    font-size: 1.5em;
}

.page-product .page-num {
    font-size: 0.9em;
    color: silver;
}

.page-product .page-price {
    margin-top:15px;
    font-size: 26px;
}

.page-product .page-price .cbn-title {
    font-size: 18px;
}

.page-product .page-price .item {
    font-size: 16px;
    color: grey;
}

.page-product .page-add-cart {
    margin-top:30px;
    margin-bottom:30px;
}

.page-product .page-text {
    font-size: 1.1em;
    margin-top:20px;
    margin-bottom:20px;
}

.page-options {
    margin-top: 30px;
    margin-bottom: 30px;
}

button.qty-change{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #e3e3e3;
    margin:10px;
    cursor:pointer;
}

.qty-input{
    height: 40px;
    width: 80px;
    text-align: center;
    font-size:18px;
}

.qty-changer {
    width:100%;
    margin-top: 20px;
}

.content .delcol {
    width:35px;
}

.content .sumcol {
    width:170px;
}

.content .sum1col {
    width:170px;
}

.content .numcol {
    width:40px;
}

.content .weightcol {
    width:100px;
}
/*
.content .cart-table td {
    border: 1px solid red;
}
*/

.content .sum-text {
  text-align:right;  
  font-size: 1.1em;
  padding-top:14px;
  border-bottom: 1px solid #dee2e6;
}

.content .sum-num {
  text-align:left;  
  font-size: 1.2em;
  font-weight: bold;
  border-bottom: 1px solid #dee2e6;
}

.content .sum-info {
  text-align:left;  
  font-size: 1em;
  color: grey;
}

.content .sum-text-weight {
  text-align:right;  
  font-size: 1em;
  padding-top:14px;
  border-bottom: 1px solid #dee2e6;
}

.content .sum-num-weight { 
  font-size: 1em;
  font-weight: bold;
}

.content .sum-border-weight { 
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}



.content .tbl-button-order {
  text-align:right;
  margin-top:20px;  
}

.errors {
    margin-top:26px;
}

.page-product .col-product {
    text-align: center;
    
    border:1px solid #efefef;
    padding-top:10px;
    min-width:250px;
}

/* убираем стрелку у input type-number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


.qty-changer input[type='number'] {
    -moz-appearance: textfield;
}


.nav-item a,.nav-item span {
    color: #F7C9B9 !important;
}

.nav-item a:hover {
    color: #FCEDE8 !important;
}


.dropdown-menu a {
    color: black !important;
}


.dropdown-menu a:hover {
    color: #050505 !important;
}

/* Bootstrap submenu */
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:grey;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

.harr-cart {
    cursor: pointer;
}

.harr-cart:hover {
    color: orange;
}

.cart-info {
    font-size: 1em;
    padding-bottom: 10px;
    color: #707070;
}